---
apiVersion: v1
kind: ""
clusters:
- name: cluster-cfhawuqbllq
  cluster:
    server: https://10.0.1.68:6443
    certificate-authority-data: FOOBARCERTIFICATESAMPLESTUFFHERE0tCg==
users:
- name: user-cfhawuqbllq
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: oci
      args:
      - ce
      - cluster
      - generate-token
      - --cluster-id
      - ocid1.cluster.oc1.re-region-1.aaaaaaaaq24ecyucirs3ffbcijn25swpvpjmvftvrxaxqsijfcfhawuqbllq
      - --region
      - re-region-1
      env: []
contexts:
- name: context-cfhawuqbllq
  context:
    cluster: cluster-cfhawuqbllq
    user: user-cfhawuqbllq
current-context: context-cfhawuqbllq